
div#root {
  display: flex;
  justify-content: center;
  flex-direction:column
}
div.outer {
  display: flex;
  justify-content: center;
  flex-direction:column
}
div.inner{
  background-color: rgb(203, 204, 204);
  width: 40%;
  border: solid black 2px;
  border-radius: 3px;
  margin-bottom: 5px;
  align-self: center;
}
p {
  margin-top: 0px;
  color: black;
}
h5 {

color: rgb(21, 100, 33);
background-color: #ededed;
font-weight: 300;
margin-top: 0%;
border-bottom: solid black 1px;
}
span {
  display: flex;
  justify-content: right;
 
  margin-top: 10px;
  color: coral;
  padding-right: 8px;

}
.Avatar {

   float: left;
    max-width: 45px;
    max-height: 15px;
    padding-top:2px;
    padding-right: 3px;
}
 


